<!-- Header -->
<header style='{% if page.bgcolor %}background-color: {{ page.bgcolor }}{% endif %}'>
    <div class="container-fluid no-padding nav-padding">
        <div class="row">
            <div class="col-md-12 text-center">
                {% if page.image-link %}<a href='{{ page.image-link }}'>{% endif %}
                {% if page.image %}<img class="img-responsive center" src="{{ site.url }}/{{ page.image }}" alt="">{% endif %}
            {% if page.image-link %}</a>{% endif %}
            </div>
        </div>
    </div>
</header>
