<!-- Portfolio Grid Section -->
    <section id="portfolio" class='portfolio'>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What to expect</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-4 portfolio-item">
                        <a href="/younger-generation" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ site.baseurl }}/assets/img/icons/kidzclubicon.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="/worship" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ site.baseurl }}/assets/img/icons/praiseicon.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="/lifegroups" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ site.baseurl }}/assets/img/icons/smallgroupsicon.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="/online" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ site.baseurl }}/assets/img/icons/digitalicon.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="/community" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ site.baseurl }}/assets/img/icons/communitycinemaicon.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="/teaching" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ site.baseurl }}/assets/img/icons/worshipserviceicon.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
            </div>
        </div>
    </section>