<!-- Portfolio Grid Section -->
    <section id="portfolio" class='portfolio'>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Below are some of our exciting activities</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-4 portfolio-item">
                        <a href="/kidzclub" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ site.baseurl }}/assets/img/icons/kidzclubicon.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="/harvest" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ site.baseurl }}/assets/img/icons/harvesticon.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ site.baseurl }}/assets/img/icons/coffeeicon.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
            </div>
        </div>
    </section>