body {
    font-family: 'Nunito', sans-serif;
}

/* header */
header { background-color: #f77f71; padding-top: 115px } /* pink */
header.hicon { padding-top: 25px; }
header .intro-text .skills { font-size: 3.75em; text-transform: uppercase; }
header img { margin: 0;  }

.navbar { opacity: 0.95; background-color: #f77f71; }
.navbar .logo { max-height: 60px; }
.navbar-brand { padding: 0px; height: 65px; margin-left: 10px;  }

.nav-padding { padding-top: 110px; }
.nav-padding-extra { padding-top: 140px; }

@media (max-width: 768px) {
	.navbar-custom { padding: 6px; box-sizing: border-box; }
    .navbar-custom .container {  box-sizing: border-box;  }
	.nav-padding { padding-top: 75px ; } 
	.nav-padding-extra { padding-top: 105px; }
	.navbar-brand img { height: 70%; margin-top: 7px  }

    nav .dropdown-menu ul { width: 80%; }
    
    header { padding-top: 75px; }
    
    section { padding: 25px 0; }
    
    p { font-size: 1em;  }
    .text-normal p { font-size: 1em;  }
    section ul li { font-size: 1em; padding-bottom: 10px;  }
    
}

 section { padding: 25px 0; }

.dropdown-menu  { background-color: #f77f71; box-shadow: none; border: none; }
.dropdown-menu ul { list-style-type: none; margin: 0; padding: 10px; width: 250px; }
.dropdown-menu ul li { padding: 5px; }
.dropdown-menu ul li:first-child { padding-top: 10px; }
.dropdown-menu ul li:last-child { padding-bottom: 10px; }
.dropdown-menu ul li.bk { margin-top: 10px; padding-top: 20px; border-top: 1px solid #fff; }
.dropdown-menu a:hover { text-decoration: none; }

.navbar-custom .navbar-nav li a:hover {
    color: #FFF;
    opacity: 0.5;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: white;
    color: #f77f71;
    opacity: 1;
}

.navbar-default .dropdown.open a.nav-link.dropdown-toggle:hover {
    color: #f77f71 !important;
}

.navbar-default .navbar-toggle {
}

.navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:hover {
    background-color: #fff;
    border-color: #f66f60;
}

.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #f77f71;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}



hr.star-light-black { border-colour: #f77f71; }

img.center { margin: 0 auto !important;  } 

/* content */
p { font-size: 1.2em;  }
.text-normal p { font-size: 1em;  }
p.verse { 
    color: #707070; 
    font-weight: 200; 
    margin: 30px;
    border-left: 5px solid #707070;
    padding-left: 10px;
}

blockquote { font-size: 0.9em; color: #707070 }

section ul, ol { margin-top: 10px; }
section ul li, ol li { font-size: 1em; padding-bottom: 10px;  }

h1, h2, h3, h4, h5, h6 {
    color: #f77f71;
}

a, a.active, a:active, a:focus, a:hover {
    color: #f77f71;   
}

hr.star-primary { border-color: #f77f71 }

.btn-primary {
    background-color: #f77f71;
    border-color: #f77f71;
    margin-bottom: 5px;
}

.btn-primary:hover {
    background-color: #f66f60; /* darker pink */
    border-color: #f66f60;
}

.btn-light, .btn-secondary {
    background-color: #707070;
    border-color: #707070;
    color: #FFF;
}

.btn-light:hover, .btn-secondary:hover {
    background-color: #f77f71;
    background-color: #f77f71;
    border-color: #f77f71;
    color: #FFF;
}



section h2 { font-size: 2em; margin-bottom: 15px; }
section h3 { font-size: 18px; }
.bg-info, .bg-danger { padding: 15px; }

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

section.portfolio { padding-top: 0px; }

#portfolio .portfolio-item .portfolio-link .caption {
    background-color: grey;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 0.5;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.notices h4 {
    color: #767676;
}


/*Posts*/
.post-item img {
  object-fit: cover;
  width:100%;
  height:200px;
}

.side-bar .post-item {
    padding-bottom: 20px;
}

.post img {
	max-width: 100%;
}

/* find us*/
#find {
    background-color: #7eafee; /*l.blue*/
}

#find hr.star-primary { border-color: #718df7 }

/* footer */
footer div.footer-below {
    background-color: #718df7; /*d.blue*/
}

#find h2 {
    color: #FFF;
}

/* world map */
#chartdiv {
  width: 100%;
  height: 400px;
}

/* cal */
tr.grey {
    opacity: 0.50;
}

#church-calendar {
    max-width: 100%;
    margin: 0 auto;
}

#church-calendar .fc-event-time, .fc-event-title {
    padding: 5px !important;
    white-space: normal;
}

#church-calendar .fc-button { 
    background-color: #f77f71 !important;
    border-color: #e27266 !important;
}

#church-calendar .business {
    opacity: 50%;
    color: #718df7;
}

.modal-center {
    transform: translate(0, -50%);
    top: 50%;
    margin: 0 auto;
}

.date {
    font-size: 0.75em;
    color: #767676;
}

.missionModal {
    display: none;
}

.tithely-give-btn {
    background-color: #f77f71;
   font-family: inherit;
   font-size: 16px; padding: 15px 70px; border-radius: 4px; cursor: pointer; background-image: none; color: white; text-shadow: none; display: inline-block; float: none; border: none;
} 

.center { text-align: center; display: block; }

.call2action { height: 80px; line-height: 78px; padding: 0 50px; margin-bottom: 20px; }

:target { padding-top: 90px; display: block; }

a.onlineicon { width: 150px; height: 90px; background-size: contain; background-repeat: no-repeat; text-indent: -9999px; 
    margin-right: 20px;  display: inline-block;
}

a.onlineicon.live { background-image: url(../img/icons/live.png); width: 110px; }
a.onlineicon.prayer { background-image: url(../img/icons/prayer.png);  width: 130px; }
a.onlineicon.sharing { background-image: url(../img/icons/sharing.png);  width: 80px; }
a.onlineicon.giving { background-image: url(../img/icons/giving.png);  width: 60px; }
a.onlineicon.worship { background-image: url(../img/icons/worship.png);  width: 80px; }

a.onlineicon.live:hover { background-image: url(../img/icons/live-hover.png); }
a.onlineicon.prayer:hover { background-image: url(../img/icons/prayer-hover.png); }
a.onlineicon.sharing:hover { background-image: url(../img/icons/sharing-hover.png); }
a.onlineicon.giving:hover { background-image: url(../img/icons/giving-hover.png); }
a.onlineicon.worship:hover { background-image: url(../img/icons/worship-hover.png); }
