backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)
  
# This line should *not* be indented
publish_mode: editorial_workflow

site_url: https://dunfermlinewest.org

# This line should *not* be indented
media_folder: "assets/img" # Media files will be stored in the repo under images/uploads


# For docs see https://www.netlifycms.org/docs/widgets/
collections:
  - name: "notices" # Used in routes, e.g., /admin/collections/blog
    label: "Notices" # Used in the UI
    folder: "_notices" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "pages" # Used in routes, e.g., /admin/collections/blog
    label: "Pages" # Used in the UI
    folder: "" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    delete: false
    fields: # The fields for each document, usually in front matter
      - {label: "Title", name: "title", widget: "string"}
      - {label: "SEO", name: "seotitle", widget: "string"}
      - {label: "Layout", name: "layout", widget: "select", options: ["default", "services", "page"]}
      - {label: "Background Colour", name: "bgcolor", widget: "color", allowInput: true}
      - {label: "Permalink", name: "title", widget: "string"}
      - {label: "Image", name: "image", widget: "File", required: false}
      - {label: "Image Link", name: "image-link", widget: "String", required: false}
      - {label: "Body", name: "body", widget: "markdown"}
